body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: #0d0d2b; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px 20px; 
  }

  .user-types {
    margin-bottom: 10px;
  }

  .list--inline {
    list-style: none;
    display: flex;
  }

  .list__item {
    margin-right: 20px;
  }

  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    max-height: 40px;
    margin-right: 10px;
  }

  .logo .text {
    font-size: 1.5rem; 
    font-weight: bold;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .list--inline li {
    margin-right: 15px;
    cursor: pointer;
  }

  .btn2 {
    cursor: pointer;
    border: none;
    background: none;
    font-weight: bold;
  }

  .btn--link {
    color: #2b076e;
  }

  .btn--accent {
    background-color: #F8398A; 
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
  }

  .btn{
    background-color: #2b076e;
  }

  .vertical-line {
    border-left: 1px solid #0d0d2b; 
    height: 20px; 
    margin: 0 10px;
  }


  .text {
    color: #fbfcfe;
  }

  .text--small {
    font-size: 14px;
  }

  .text--medium {
    font-size: 16px;
  }

  .text--regular {
    font-weight: normal;
  }

  /* Header styles */
  .header {
    background-color: #0d0d2b;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }

  .user-types {
    margin-bottom: 10px;
  }

  .list--inline {
    list-style: none;
    display: flex;
  }

  .list__item {
    margin-right: 15px;
  }

  /* Footer styles */
  .footer {
    background-color: #f4f4f4;
    padding: 30px 0;
    color: #333;
  }

  .footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer__top__logo img {
    max-height: 40px;
  }

  .nav {
    margin-bottom: 20px;
  }

  .nav__title {
    font-weight: bold;
  }

  .nav__list {
    list-style: none;
  }

  .nav__list__item {
    margin-bottom: 8px;
  }

  .payment-systems__title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .payment-systems__payments {
    display: flex;
    gap: 10px;
  }

  .payment-icon-container img {
    max-width: 50px;
  }

  .footer{
    background-color: #0d0d2b;
    padding: 30px 0;
  }

  .radial-gradient:before {
    background: linear-gradient(to bottom, #0d0d2b 0%, #F8398A 100%);
  }

  /* Footer bottom styles */
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: #0d0d2b;
  }

  .footer__bottom__copyright {
    flex: 1;
  }

  .footer__bottom__social-media {
    display: flex;
    gap: 10px;
  }

  .social-icon {
    width: 20px;
    height: 20px;
    fill: #333;
  }

