.container-cyptowallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }

  .container-cyptowallet h1{
    color: black;
  }
  
  .video-section {
    margin-top: 100px;
  }
  .video-section video {
    width: 1000px; 
    height: auto; 
  }
  
  .action-buttons {
    display: flex;
    gap: 10px; 
  }
  
  .action-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F8398A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #2b076e; 
    color: white;
  }
  
  .done-icon{
    color: green;
  }

  .undone-icon{
    color: red;
  }