.choose-plan {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-plan {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  margin-top: 30px;
  padding: 30px;
}

.plan-popular,
.plan {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-right: 30px;
  border: solid 2px #fff;
  border-radius: 10px;
  background-color: #2b076e;
  /* align-items: center; */
  justify-content: center;
  color: #fff;
  transition: ease-in-out 300ms;
}

.plan-popular:hover,
.plan:hover {
  border: solid 2px #f8398a;
  box-shadow: 5px 3px 6px rgba(63, 122, 205, 0.45);
  padding: 40px;
}

.plan-popular h2,
.plan h2 {
  font-size: 22px;
  color: #fff;
}

.text--medium {
  text-align: center;
}

.features {
  font-size: 12px;
  margin: 40px 0;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.fa-check-circle {
  color: #6ab04c;
}

.fa-times-circle {
  color: #f8398a;
}

.basic-button {
  background-color: #f8398a;
  border-radius: 30px;
  color: #fff;
}

.btn:hover {
  letter-spacing: 1px;
  transition: ease-out 300ms;
  border: solid 2px #ffffffc8;
  padding: 10px;
}

.choose-plan p {
  text-align: center;
  font-size: 10px;
  color: #9f9f9f;
  font-weight: 600;
  margin-top: 5px;
}
